@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');
*{
	margin:  0;
	padding:  0;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;
	font-size:16px;
	overflow-x: hidden;
}

html{
	scroll-behavior: smooth;
}
/*-----------------------------------------------------------------------------*/
/* MOBILE FIRST */
/*-----------------------------------------------------------------------------*/

.site-header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-weight: 500;
	padding: 0 1em;
	position: fixed;
	width: 100%;
	background-color: rgba(253,187,45,1);
	z-index: 999;
	transition: all 0.3s; 
}
.logo-desc img{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	margin: 0.5em 0;
	border: 2px solid black;
}
.logo-desc{
	display: flex;
	flex-direction: row; 
	align-items: center;
	justify-content: center; 
}
.tagline{
	display: flex;
	flex-direction: column;
	font-size: 0.75rem;
	height: 100%;
	position: relative;
	margin-left: 0.75em;
}
.tagline h1{
	font-weight: 500;
}
.tagline p:nth-child(1){
	font-size: 1.25rem;
}
.navlinks{
	font-size: 1.5em;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 50vh;
	width: 100%;
	position: absolute;

	height: 100vh; 
	right: 0;
	top: 11vh;
	background:  linear-gradient(180deg, rgba(253,187,45,1)  0%, rgba(255,255,255,1) 100%);
	/* background-color: rgba(253,187,45,1); */
	transform: translateX(100%);
	transition: transform 0.5s ease-in-out;
}

.navlinks li{

}
.navlinks a{
	text-decoration: none;
	color: black;
	transition: font-size .2s ease-in-out;
}

.navlinks a:hover{
	font-size: 1.5em;
}
ion-icon{	
	display: block;
	cursor: pointer;
}

.nav-active{
	transform: translateX(0%);
}
.nav-active li{
	opacity: 0;
}

@keyframes navLinkFade{
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform:  translateX(0px);
	}
}
/*-----------------------------------------------------------------------------*/
/* END OF HEADER */
/*-----------------------------------------------------------------------------*/

section{
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}
.home-page{
	background-color: red;
	overflow: hidden;
}
.home-info{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 5em;
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(253,187,45,1) 100%);
	height: 100vh;
}
.home-info div{
	padding: 0;
	width: 50%;
	padding-left: 0em;
}
.home-info h1{
	margin: 1em 0;
	font-size: 2rem;
	font-weight: 500;
/* 	-webkit-text-fill-color: white; Will override color (regardless of order)
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black; */
}
.home-info div p{
	line-height: 2em;
	width: 100%;
}
.home-info img{
	height: 400px;
	filter: drop-shadow(5px 5px);
}
.faq{
	background-color:;
}


/*-----------------------------------------------------------------------------*/
/* DESKTOP AND HIGHER */
/*-----------------------------------------------------------------------------*/


@media (min-width: 1024px) {

ion-icon{
	display: none;
}
.navbar,
.navbar li,
.navbar li a,
.tagline{
	display: initial;
}
.navlinks{
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	top: 0;
	width: auto;
	height: auto;
	font-size: 1em;
	background: none;
	transform: translateX(0);
}
.navbar li{
	display: inline-block;
	margin-left: 2em;
}
.navbar li a{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	padding-bottom: 0.5em;
	transition: .15s linear;
}
.navbar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.cta{
	background-color: dodgerblue;
	padding: 0.5em 1em;
	border-radius: 30px;
	transition: .25s ease-in-out;
}
li.cta a{
	color: white;
}
.navlinks a:hover{
	border-bottom: 5px solid black;
	color: #0029E6;
	font-size: 1em;
	background-color: transparent;
}
.cta:hover{
	transform: translateY(10px);
	box-shadow: 0px -5px 5px 0px;
}
li.cta a:hover{
	border: 0;
}
	
}